<form action="/landmarks/<%= @landmark.id %>" method="post">
  <h1>Edit Your Landmark Below</h1>
  <label for="landmark_name">Name:</label>
  <br>
</br>
<input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
<br>
</br>
<label for="landmark_name">Year Completed:</label>
<br>
</br>
<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed.to_s %>">
<br>
</br>
<input type="submit" name="Submit" id="Edit Landmark">
<input id="hidden" type="hidden" name="_method" value="patch">
</form>
